* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

.sec1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}

.logo {
    width: 100px;
}

.middle {
    display: flex;
    gap: 30px;
}

.middle a {
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
}

.end {
    display: flex;
    gap: 20px;
}

.end a {
    color: #000;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
}
.show:hover + .menulist{
    display: flex;
}
.menulist{
    display: none;
}
.menulist:hover{
    display: flex;
}
.sec2 {
    width: 100%;
}

.aboutus img {
    width: 100%;
}

.floating {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    top: 40px;
}

.floating p {
    font-weight: 500;
    font-size: 50px;
    color: white;
    height: fit-content;

}

.sec3 {
    width: 100%;
    display: flex;
    padding: 100px 100px;

}

.firsthav {
    width: 50%;
}

.firsthav img {
    width: 100%;
}

.secondhav {
    width: 50%;
}

.secondhav .but {
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.but .abt {
    padding: 23px 40px 23px 40px;
    height: fit-content;
    width: fit-content;
    background-color: black;
    color: white;
}

.secondhav button {
    padding: 23px 40px 23px 40px;
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    border: solid 1px rgb(218, 215, 215);
}

.secondhav button:hover {
    background-color: black;
    color: rgb(253, 253, 253);
}

.secondhav p {
    padding: 30px 30px;
    color: gray;
    font-weight: 200;
}

.secondhav h6 {
    color: rgb(160, 159, 159);
    padding: 0px 30px;
}

.sec4 {
    width: 100%;
    padding: 100px;
    background-color: rgb(251, 251, 252);
    text-align: center;
    justify-content: center;
}

.sec4 h2 {
    font-weight: 500;
}

.sec4 .p2 p {
    color: gray;
    font-weight: 300;
}

.sec4 h4 {
    font-weight: 500;
}

.sec5 {
    width: 100%;
    display: flex;
    padding: 100px 100px;
    background-color: #000;
    color: white;
}

.sec5 p {
    line-height: 25px;
    font-weight: 200;
}

.sec5 h3 {
    font-weight: 500;
    line-height: 40px;
}

.sec5 .onehav {
    width: 25%;
}

.sec5 .twohav {
    width: 25%;
}

.sec5 .threehav {
    width: 25%;
}

.sec5 .fourhav {
    width: 25%;
}

.sec6 {
    margin-top: 1px;
    width: 100%;
    padding: 20px 100px;
    background-color: #000;
    color: rgba(255, 255, 255, 0.507);
    font-size: 11px;
    font-weight: transparent;
}
@media (max-width: 768px) {
    .middle {
        display: none;
    }

    .sec2,
    .sec3,
    .sec3 .firsthav,
    .sec3 .secondhav,
    .sec4,
    .sec5,
    .sec5 .onehav,
    .sec5 .twohav,
    .sec5 .threehav,
    .sec5 .fourhav,
    .sec6 {
        width: 100%;
        display: block;
        padding: 20px;
    }

    .aboutus img {
        height: 30vh;
    }
    .floating {
        position: absolute;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        top: 0px;
    }
    .sec3 {
        flex-direction: column;
        padding: 20px;
    }

    .firsthav,
    .secondhav {
        width: 100%;
        padding: 20px 0;
    }
    .secondhav .abt {
        width: 100%;
        flex-direction: column;
    }

    .secondhav .but {
        flex-direction: column;
    }

    .secondhav button {
        width: 100%;
    }
}