*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}
.logo{
    color: black;
    padding: 60px 50px 0px 30px;
}
.header{
    position: sticky;
    top: 0%;
    width: 100%;
    background-color: white;
    z-index: 1000;
    box-shadow: 3px solid black ;
}
.sec1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15% ;
}

.sec1a{
   display: flex;
   gap: 30px;
    
}
.sec1a a{
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
}
.sec1b{
    display: flex;
    gap: 20px;
}
.sec1b a{
    color: black;
    text-decoration: none;
    font-size: 13px;

}
.sec2{
    margin: auto;
    align-items: center;
    padding: 30px 20px 10px 10px;
    font-size: larger;
    text-align: center;
    width: 100%;
    gap: 50px;
}
.sece{
    margin: auto;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: xx-large;
}
.sec p{
    color: gray;
    margin: auto;
    align-content: center;
    justify-content: center;
    padding-right: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}
.sec2 p{
    margin: auto;
    align-items: center;
    justify-content: center;   
}
.container{
    width: 90%;
    min-height: 100vh;
    margin: auto;
    margin-top: 40px;
}
.but{
    width: 100px;
    height: 90px;
    display: flex;
    padding-top: 40px;
    padding-left: 30px;
    justify-content: space-between;
}
.con{
    width: 80%;
    margin: auto;
    display: flex;
    gap: 30px;
    line-height: 20px ;
    padding: 10px 10px 10px 40px;
}
.container p{
    font-size: large;
    color: gray;
    line-height: 20px;
}
.container h6{
    color: gray;
}
.container img{
    width: 55%;
    height: 50%;
    border-radius: 60%;
    margin-bottom: 30px;
}
.container1{
    width: 80%;
    margin: auto;
    display: flex;
    gap: 30px;
    line-height: 20px ;
    padding: 10px 10px 10px 40px;
    padding-top: 10%;
    margin-bottom: 30px;

}
.container1 img{
    width: 55%;
    height: 50%;
    border-radius: 60%;
    margin-bottom: 30px;

}
.sec5 {
    width: 100%;
    display: flex;
    padding: 100px 100px;
    background-color: #000;
    color: white;
}

.sec5 p {
    padding-top: 10px;
    font-weight: 150;
}

.sec5 h3 {
    font-weight: 500;
}

.sec5 .onehav {
    width: 25%;
}

.sec5 .twohav {
    width: 25%;
}

.sec5 .threehav {
    width: 25%;
}

.sec5 .fourhav {
    width: 25%;
}

.sec6 {
    margin-top: 1px;
    width: 100%;
    padding: 20px 100px;
    background-color: #000;
    color: rgba(255, 255, 255, 0.507);
    font-size: 11px;
    font-weight: transparent;
}
@media (max-width: 768px)
    .sec1a{
        display: none;
    }
    .sec2
    .container
    .sec5
    .sec5onehav
    .sec5twohav
    .sec5threehav
    .sec5fourhav
    .sec6{
        width: 100%;
        display: block;
        padding: 20px;
        flex-direction: column;
        height:auto;
    }

    

