* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sec11 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}
.menulist:hover .menulist{
    display: block;
}
.menulist{
    display: none;
}
.menulist:hover{
    display: block;
}
.logo {
    width: 100px;
}

.header1 {
    background-image: url(/h6-slide1-img.jpg);
    min-height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.middle1 {
    display: flex;
    gap: 30px;
}

.middle1 a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
}

.end1 {
    display: flex;
    gap: 20px;
}

.end1 a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
}

.sec21 {
    width: 60%;
    margin: auto;
    display: flex;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sec21 p {
    margin-top: 25px;
    line-height: 25px;
    color: #c4c4c4;
}

#logoo {
    display: none;
    width: 100px;
}

.box11 {
    width: 100%;
    height: 160vh;
    display: flex;
}

.www {
    width: 60%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.www:hover .trans{
    opacity: 1;
    transition: opacity 1s ease-out;
}
.img1 {
    width: 100% !important;
    height: 100% !important;
    scale: 1;
    z-index: 1;
    position: relative;
    transition: scale 1s ease;
}

.www:hover .img1{
    scale: 1.2;
}
.trans {
    opacity: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.701);
}

.box11 :nth-child(2) {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.box11 :nth-child(2) img {
    height: 50%;
    width: 100%;
}

.box22 {
    width: 100%;
    height: 160vh;
    display: flex;
}

.box22 :nth-child(2) {
    width: 60%;
    height: 100%;
}

.box22 :nth-child(2) img {
    width: 100%;
    height: 100%;
}

.box22 :nth-child(1) {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.box22 :nth-child(1) img {
    height: 50%;
    width: 100%;
}
.jmb{
    margin-bottom: 50px;
}
@media (max-width: 400px) {
    .middle1 {
        display: none;
    }

    .header1 section {
        background-color: white;
    }

    .end1 a {
        color: black;
    }

    #logoo {
        display: block;
    }

    .logo {
        display: none;
    }

    .sec11 {
        padding: 30px 10px;
    }

    .header1 {
        background-position: 51% 0%;
    }

    .sec21 {
        width: 90%;
    }
    .box22 {
        height: 40vh;
    }
    .box11 {
        height: 40vh;
    }
}