*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}
.sec1{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    align-items: center;
    padding: 30px 40px;
}
.logo{
    width: 100px;
}
.middle{
    display: flex;
    gap: 20px;
}