* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
}
.show:hover + .menulist{
    display: flex;
}
.menulist{
    display: none;
}
.menulist:hover{
    display: flex;
}
.menulist a{
    color: white !important;
}
.sec1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}

.logo {
    width: 100px;
}

.middle {
    display: flex;
    gap: 30px;
}

.middle a {
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
}

.end {
    display: flex;
    gap: 20px;
}

.end a {
    color: #000;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
}
.sec2 {
    width: 100%;
}

.aboutus img {
    width: 100%;
}
.floating{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}
.floating p {
    font-weight: 500;
    font-size: 50px;
    color: white;
    height: fit-content;
}
.sec3 {
    width: 100%;
    display: flex;
    padding: 100px 100px;

}
.sec3 h3{
    font-weight: 500;
    font-size: 17px;
    line-height: 90px;
}
.sec3 p{
    color: gray;
    line-height: 25px;
    font-weight: 300;
}
.sec3 strong{
    font-weight: 450;
    font-size: 20px;
}

.firsthav {
    width: 50%;
}
.text1{
    width: 90%;
}
.secondhav {
    width: 50%;
}
.text2{
    width: 90%;
}
.sec4 {
    width: 100%;
    display: flex;
    padding: 100px 100px;
    background-color: #000;
    color: white;
}

.sec4 p {
    line-height: 25px;
    font-weight: 200;
}

.sec4 h3 {
    font-weight: 500;
    line-height: 40px;
}

.sec4 .onehav {
    width: 25%;
}

.sec4 .twohav {
    width: 25%;
}

.sec4 .threehav {
    width: 25%;
}

.sec4 .fourhav {
    width: 25%;
}

.sec5 {
    margin-top: 1px;
    width: 100%;
    padding: 20px 100px;
    background-color: #000;
    color: rgba(255, 255, 255, 0.507);
    font-size: 11px;
    font-weight: transparent;
}


@media (max-width: 768px) {
    .middle {
        display: none;
    }
    .sec2,
    .sec3,
    .sec3 .firsthav,
    .sec3 .secondhav,
    .sec4,
    .sec4 .onehav,
    .sec4 .twohav,
    .sec4 .threehav,
    .sec4 .fourhav,
    .sec5 {
        width: 100%;
        display: block;
    }

    .sec3 {
        flex-direction: column;
        padding: 20px;
    }

    .sec3 .firsthav,
    .sec3 .secondhav {
        width: 100%;
        padding: 20px 0; /* Adjust padding as needed */
    }

    .sec4 {
        flex-direction: column;
        padding: 20px;
    }

    .sec4 .onehav,
    .sec4 .twohav,
    .sec4 .threehav,
    .sec4 .fourhav {
        width: 100%;
        padding: 20px 0; /* Adjust padding as needed */
    }

    .sec5 {
        padding: 20px;
    }
}